.filter__row {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.filter__select {
    width: 200px;
    height: 30px;
    border-radius: 3px;

}

@media screen and (max-width: 768px) {
    .filter__row {
        flex-direction: column;
        justify-content: center;
    }
}